.container {
    width: 810px;
    margin: auto;
    position: relative;
}

.current-date {
    text-align: center;
    background-color: #6a0fe2;
    color: white;
    padding: 10px;
}

.current-date:hover {
    background-color: #8f3bfd;
    transition: all 400ms ease-in;
}

.acounts-list-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    /* Apply the blur effect */
    z-index: 1;
}

.accounts-list {
    position: fixed;
    top: 50%;
    max-width: 500px;
    min-height: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}

.account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: #f9f9f9;
    margin: 5px;

}

.account:hover {
    background-color: #eaf0ff;

}

.close-accounts-list {
    font-size: 22px;
    color: rgb(254, 60, 60);
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.sold {
    border: 1px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.sold span {
    font-weight: 600;
    font-size: 18px;
}

.sold span:hover {
    color: rgb(123, 123, 255);
}

.operations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.accounts {
    border: 1px solid;
    border-radius: 10px;
    width: 100px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    background-color: #6a0fe2;
    color: white;
}

.accounts:hover {
    background-color: #8f3bfd;
    transition: all 200ms ease-in;
}

.transactions {
    border: 1px solid;
    border-radius: 10px;
    width: 130px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    background-color: #6a0fe2;
    color: white;
}

.transactions:hover {
    background-color: #8f3bfd;
    transition: all 200ms ease-in;
}

.accounts span {
    font-weight: 600;
    font-size: 16px;
}



.transaction-table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.transaction-reverse {
    transform: translate(44%, 40%);
    margin: 2rem;
}
.transaction-reverse button{
    background-color: #3898ff;
    color: white;
    width: 130px;
    padding: 7px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.transaction-reverse button:hover 
{
    background-color: #2072c9;
    transition: all 300ms linear;
}
.operation-type-choice {
    transform: translate(47%, 40%);
    margin: 2rem;
}
.operation-type-choice button{
    background-color: #3898ff;
    color: white;
    width: 40px;
    padding: 7px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.operation-type-choice button:hover 
{
    background-color: #2072c9;
    transition: all 300ms linear;
}
.transaction-table table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
    padding: 8px;
    text-align: right;
}

.transaction-table th {
    background-color: #f2f2f2;
}

.transaction-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transaction-table tbody tr:hover {
    background-color: #eaf0ff;
}

.montant-positive {
    color: rgb(67, 170, 67);
}

.montant-negative {
    color: rgb(248, 53, 53);
}

.transaction-menu {
    position: fixed;
    top: 50%;
    max-width: 550px;
    min-height: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
}

.transaction-menu .transaction-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    flex-direction: column;
    margin: 3rem;


}

.transaction-mode {
    margin: 12px;
}

.transaction-mode select {
    width: 70px;
    text-align: center;
    padding: 4px;

}

.transaction-info .montant input {
    width: 200px;
    height: 30px;
}

.transaction-info .RIB input {
    width: 200px;
    height: 30px;
}

.transaction-info .title input {
    width: 200px;
    height: 30px;
}

.transaction-button {
    background-color: rgb(65, 189, 65);
    border: none;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;

}

.transaction-button:hover {
    background-color: rgb(32, 161, 32);
    transition: all .1s ease-in;
}

.account-tabs-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.account-tabs {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.tab {
    padding: 8px 16px;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab.active {
    background-color: #ffffff;
    color: #000;
    border-bottom: 4px solid #0269d8;
}