<section class="container">
    <div class="current-date">
        {{ currentDate }}
      </div>
      
    <div class="operations">

        <div class="sold">
            <span>{{totalTransactionAmount}} DH</span>
         </div>

         <div class="accounts" (click)="toggleAccountList()">
            <span>accounts</span>
         </div>

         <div class="transactions" (click)="toggleTransactionMenu()">
            <span>make a transaction</span>
         </div>
         <div class="transactions" (click)="toggleDepotMenu()" id="depotMenuButton">
            <span>depot sold</span>
         </div>


    </div>

    <div class="acounts-list-background" [hidden]="!displayAccountList"></div>
    <div class="acounts-list-background" [hidden]="!displayTransactionMenu"></div>
    <div class="acounts-list-background" [hidden]="!displayDepotMenu"></div>
    

    <div class="accounts-list" [hidden]="!displayAccountList">
        <div class="close-accounts-list" (click)="toggleAccountList()">
            X
        </div>
        <div 
            class="account" 
            *ngFor="let account of userAccounts">
            
            <span>{{account.title}}</span> 
            <img 
                src="../../assets/icons/right-arrow.png" 
                alt="right arrow"
                style="width: 30px;cursor: pointer;"
                (click)="switchUserAccounts(account.account_number, account.title)"
            >
        </div>
        
    </div> 
    
    
    <div class="transaction-menu" [hidden]="!displayTransactionMenu">
        <div class="close-accounts-list" (click)="toggleTransactionMenu()">
            X
        </div>
        <div class="transaction-info">
            
            
            <div class="montant">
                <span>
                    Montant :
                </span>
                <br>
                <input 
                #transactedAmount
                type="number" 
                (keyup)="setTransactedAmount(+transactedAmount.value)"
                >
            </div>
            <div class="RIB">
                <span >
                    RIB  : 
                </span>
                <br>
                <input type="number">
            </div>

            <div class="title">
                <span >
                    Title: 
                </span>
                <br>
                <input 
                    #operationTtile
                    type="text"
                    (keyup)="setOperationTitle(operationTtile.value)"
                    >
            </div>
            .
    
            <div class="transaction-mode">
                <select >
                    <option
                        (click)="setOperationMode('in')"
                        value="IN">
                        IN
                    </option>
                    <option 
                        (click)="setOperationMode('out')"
                        value="OUT">
                        OUT
                    </option>
                </select>
            </div>

            <button 
                class="transaction-button" 
                (click)="makeTransaction()">

                Valider
            </button>
        </div>
    </div>
    <!-- === Depot section === -->
    <div class="transaction-menu" [hidden]="!displayDepotMenu"> 
        <div class="close-accounts-list" (click)="toggleDepotMenu()">
            X
        </div>
        <div class="transaction-info">
            
            
            <div class="montant">
                <span>
                    Montant :
                </span>
                <br>
                <input 
                #DepotAmount
                type="number" 
                (keyup)="setTransactedAmount(+DepotAmount.value)"
                >
            </div>
            <div class="RIB">
                <span >
                    RIB  : 
                </span>
                <br>
                <input type="number">
            </div>

            <div class="title">
                <span >
                    Title: 
                </span>
                <br>
                <input 
                    #depotTtile
                    type="text"
                    (keyup)="setOperationTitle(depotTtile.value)"
                    >
            </div>
            .
    
           

            <button 
                class="transaction-button" 
                (click)="postDepot();closeDepotMenu()">

                Valider
            </button>
        </div>
    </div>
    <div class="transaction-reverse">
        <button (click)="reverseTransactions()">{{ reverseTransactionLabel }}</button>
    </div>
    <div class="transaction-table">      
        <table>
          <thead>
            <tr>
              <th>Sequence</th> 
              <th>Type</th> 
              <th>Title</th>
              <th>Montant</th>
              <th>Creating date</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of userTransactions">
                <td>
                    {{ transaction.sequence }}
                </td>
                <td>
                    {{ transaction.type }}
                </td>
                <td>
                    {{ transaction.title }}
                </td>
                <td [ngClass]="{'montant-positive' : transaction.type == 'in' , 'montant-negative' : transaction.type == 'out'}">
                    <span *ngIf="transaction.type === 'in'">+</span>
                    <span *ngIf="transaction.type === 'out'">-</span>
                    {{  transaction.amount | currency: 'DH' }}
                </td>
                <td>
                    {{ transaction.Date.toDate().toLocaleString() }}
                </td>
            </tr>


          </tbody>
        </table>
    </div>

      <div class="account-tabs-container">

          <div class="account-tabs">
            <div 
                class="tab" 
                *ngFor="let account of switchedAccountsHistory" 
                [class.active]="isCurrentAccount(account.account_id)"  
                (click)="switchUserAccounts(account.account_id, account.account_username)"              
                >
              {{ account.account_username }}
            </div>
          </div>
      </div>
      
      
    

    
</section>