<div class="container">
    <div class="table-container">
    </div>
    <div class="table-container">
        <div class="all-table">
            <table class="users-table">
                <thead>
                    <tr>
                        <th>Utilisateurs</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td class="action-B">
                            <i class="b1 fa-solid fa-pen-to-square fa-sm" style="color: #000000;"
                                (click)="openPopup_2(user)"></i>
                            <i class=" b2 fa-solid fa-trash-can fa-sm" style="color: #e41b1b;"
                                (click)="deleteUser(user)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
        <div class="container-icon">
            <i class="plus fa-solid fa-circle-plus fa-lg" style="color: #000000;" (click)="openPopup_1()"></i>
        </div>
    </div>
    <div class="popup-edit" *ngIf="popupVisible_2" (click)="closePopup_2()">
        <!-- Popup content -->
        <div class="popup-content" (click)="$event.stopPropagation()">
            <h2>Edit User</h2>
            <form (submit)="updateUser()">
                <div class="form-edit">
                  <label for="username">Utilisateur</label>
                  <input type="text" id="username" name="name" [(ngModel)]="selectedUser.name">
              
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" [(ngModel)]="selectedUser.email">
              
                  <div>
                    <button type="button" (click)="toggleAddAccountForm()">
                      {{ isAccountFormVisible ? 'Hide' : 'Add Account' }}
                    </button>
                  </div>
                  
                  
                  <div *ngIf="isAccountFormVisible">
                    <label for="accountNumber">Account Number:</label>
                    <input type="number" id="accountNumber" name="accountNumber" [(ngModel)]="newAccount.account_number">
              
                    <label for="accountTitle">Account Title:</label>
                    <input type="text" id="accountTitle" name="accountTitle" [(ngModel)]="newAccount.title">
              
                    <button type="button" (click)="createAccount()">Save Account</button>
                  </div>
              
                  <button type="submit">Save</button>
                </div>
              </form>
              
        </div>
        <!-- Form and other elements -->
    </div>
    <div class="popup-add" *ngIf="popupVisible_1" (click)="closePopup_1()">
        <!-- Popup content -->
        <div class="popup-content" (click)="$event.stopPropagation()">
            <h2>add user</h2>

            <form (ngSubmit)="createUser()">
                <div class="form-add">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" [(ngModel)]="selectedUser.name" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="selectedUser.email" required>

                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" [(ngModel)]="selectedUser.password" required>

                    <button type="submit">Create User</button>
                </div>
            </form>



        </div>
        <!-- Form and other elements -->
    </div>

</div>